# Some of The Most Important SQL Commands

SELECT - extracts data from a database
UPDATE - updates data in a database
DELETE - deletes data from a database
INSERT INTO - inserts new data into a database
CREATE DATABASE - creates a new database
ALTER DATABASE - modifies a database
CREATE TABLE - creates a new table
ALTER TABLE - modifies a table
DROP TABLE - deletes a table
CREATE INDEX - creates an index (search key)
DROP INDEX - deletes an index



# Single Line Comments
Single line comments start with --.
Any text between -- and the end of the line will be ignored (will not be executed).

# Multi-line Comments
Multi-line comments start with /* and end with */.

Any text between /* and */ will be ignored.

The following example uses a multi-line comment as an explanation:
#-----------------------------------
Example
#----------------------------------
/*Select all the columns
of all the records
in the Customers table:*/
SELECT * FROM Customers;

In [ ]:
#---------------------------------------------------------------------
# EJEMPLO
#---------------------------------------------------------------------
SELECT COUNT(DISTINCT column_name) FROM table_name;

#COUNT cuenta el número de entradas
#"DISTINCT quita valores repetidos

In [ ]:
#The WHERE clause is not only used in SELECT statement, it is also used in UPDATE, DELETE statement, etc.!
SELECT column1, column2, ...
FROM table_name
WHERE condition;

#---------------------------------------------------------------------
# EJEMPLO
#---------------------------------------------------------------------

#SELECT * FROM Customers
#WHERE Country='Mexico';

#SELECT * FROM Products
#WHERE Price BETWEEN 50 AND 60;

#SELECT * FROM Customers
#WHERE City IN ('Paris','London');

Operator	Description	Example
=	Equal	
>	Greater than	
<	Less than	
>=	Greater than or equal	
<=	Less than or equal	
<>	Not equal. Note: In some versions of SQL this operator may be written as !=	
BETWEEN	Between a certain range	
LIKE	Search for a pattern	
IN	To specify multiple possible values for a column

In [ ]:
#The AND and OR operators are used to filter records based on more than one condition:

#The AND operator displays a record if all the conditions separated by AND are TRUE.
#The OR operator displays a record if any of the conditions separated by OR is TRUE.
#The NOT operator displays a record if the condition(s) is NOT TRUE.

#--------------------------------------------------
#AND Syntax
#_-------------------------------------------------
SELECT column1, column2, ...
FROM table_name
WHERE condition1 AND condition2 AND condition3 ...;

#SELECT * FROM Customers
#WHERE Country='Germany' AND City='Berlin';    

esto permite tener más de una condición de diferentes campos (columnas), pero ambas se deben cumplir simultáneamente

#--------------------------------------------------
#OR Syntax
#_-------------------------------------------------
SELECT column1, column2, ...
FROM table_name
WHERE condition1 OR condition2 OR condition3 ...;

#SELECT * FROM Customers
#WHERE City='Berlin' OR City='München';

#SELECT * FROM Customers
#WHERE Country='Germany' OR Country='Spain';

esto permite tener más de una condición de diferentes campos (columnas)
pero ambas NO NECESARIAMENTE se deben cumplir simultáneamente

#--------------------------------------------------
#NOT Syntax
#_-------------------------------------------------
SELECT column1, column2, ...
FROM table_name
WHERE NOT condition;

#SELECT * FROM Customers
#WHERE NOT Country='Germany';
quita el dato que no queremos

También se pueden combinar los comandos

#SELECT * FROM Customers
#WHERE Country='Germany' AND (City='Berlin' OR City='München');

#SELECT * FROM Customers
#WHERE NOT Country='Germany' AND NOT Country='USA';

# The INSERT INTO statement is used to insert new records in a table.

In [ ]:
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

#The following SQL statement inserts a new record in the "Customers" table

#INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
#VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

Si se van a agregar datos en columnas específicas, estos deben matchera con las que se eligen, como al final
tenemos "Country" y 'Norway'.
Si no se agregan datos a ciertas columnas SQL los rellena con NULL's

# The SQL SELECT INTO Statement
The SELECT INTO statement copies data from one table into a new table.

In [ ]:
SELECT *
INTO newtable [IN externaldb]
FROM oldtable
WHERE condition;

#Copy only some columns into a new table:

SELECT column1, column2, column3, ...
INTO newtable [IN externaldb]
FROM oldtable
WHERE condition;

#The new table will be created with the column-names and types as defined in the old table.
#You can create new column names using the AS clause.


#The following SQL statement creates a backup copy of Customers:
SELECT * INTO CustomersBackup2017
FROM Customers;


#The following SQL statement uses the IN clause to copy the table into a new table in another database:
SELECT * INTO CustomersBackup2017 IN 'Backup.mdb'
FROM Customers;


#The following SQL statement copies only a few columns into a new table:
SELECT CustomerName, ContactName INTO CustomersBackup2017
FROM Customers;


#The following SQL statement copies only the German customers into a new table:
SELECT * INTO CustomersGermany
FROM Customers
WHERE Country = 'Germany';

# The SQL INSERT INTO SELECT Statement
The INSERT INTO SELECT statement copies data from one table and inserts it into another table.

INSERT INTO SELECT requires that data types in source and target tables match
The existing records in the target table are unaffected

# INSERT INTO SELECT Syntax
Copy all columns from one table to another table:

In [ ]:
#Copy all columns from one table to another table:

INSERT INTO table2
SELECT * FROM table1
WHERE condition;

#Copy only some columns from one table into another table:

INSERT INTO table2 (column1, column2, column3, ...)
SELECT column1, column2, column3, ...
FROM table1
WHERE condition;

#es necesario que los "records"(reonglones) matcheen

# Operadores

+	Add	
-	Subtract	
*	Multiply	
/	Divide
=	Equal to	
>	Greater than	
<	Less than	
>=	Greater than or equal to	
<=	Less than or equal to	
<>	Not equal to
+=	Add equals
-=	Subtract equals
*=	Multiply equals
/=	Divide equals

# The SQL CREATE DATABASE Statement

In [ ]:
Syntax

CREATE DATABASE databasename;

#Once a database is created, you can check it in the list of databases with the following SQL command: SHOW DATABASES

# The SQL BACKUP DATABASE Statement
The BACKUP DATABASE statement is used in SQL Server to create a full back up of an existing SQL database.

In [ ]:
BACKUP DATABASE databasename
TO DISK = 'filepath';

#A differential back up only backs up the parts of the database that have changed since the last full database backup.

BACKUP DATABASE databasename
TO DISK = 'filepath'
WITH DIFFERENTIAL;

#BACKUP DATABASE testDB
#TO DISK = 'D:\backups\testDB.bak';

# The SQL CREATE TABLE Statement
The CREATE TABLE statement is used to create a new table in a database.

In [ ]:
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

#The column parameters specify the names of the columns of the table.
#The datatype parameter specifies the type of data the column can hold (e.g. varchar, integer, date, etc.).

For an overview of the available data types: "https://www.w3schools.com/sql/sql_datatypes.asp"

#-------------------------------------------------------------
#EJEMPLO
#-----------------------------------------------------------
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
    
#The PersonID column is of type int and will hold an integer.
#The LastName, FirstName, Address, and City columns are of type varchar and will hold characters, 
#and the maximum length for these fields is 255 characters.